<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <mat-card class="card-listado-chats bg-light">
                    <mat-card-header class="d-flex">
                        <mat-card-title>Chatea con tus amigos!</mat-card-title>
                        <mat-card-subtitle><button mat-raised-button color="primary" (click)="openModal()"><mat-icon>add_comment</mat-icon> Nuevo</button></mat-card-subtitle>                                          
                    </mat-card-header>
                </mat-card>
                <app-listado-chats (openMessage)="openMessage($event)" ></app-listado-chats>

                <input type="file" capture="camera">

                <div class="video-container">
                    <video
                    [class.show]="!isCaptured"
                    [class.hide]="isCaptured"
                    #video
                    id="video"
                    [width]="WIDTH"
                    [height]="HEIGHT"
                    autoplay
                    ></video>
                    <canvas
                    [class.show]="isCaptured"
                    [class.hide]="!isCaptured"
                    #canvas
                    id="canvas"
                    [width]="WIDTH"
                    [height]="HEIGHT"
                    ></canvas>
                </div>
                
                 <div class="snap-container">
                  <button class="btn btn-primary" *ngIf="aceptFoto" (click)="aceptImgs()" data-dismiss="modal" aria-label="Close">
                      Acept Photo
                  </button>  
                 </div>      
                <div class="snap-container">
                    <button class="btn btn-primary" *ngIf="!isCaptured" (click)="capture()">
                        Snap Photo
                    </button>
                </div>
            </div>

            <ngx-dropzone >
                <div class="d-flex flex-column mx-auto">
                  <ngx-dropzone-label class="m-0">tomar foto</ngx-dropzone-label>
                  <ngx-dropzone-label class="m-0">tomar foto</ngx-dropzone-label>
                </div>
                <ngx-dropzone-image-preview  >
                  <!-- <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label> -->
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
              
              
            <div class="col-lg-9 col-sm-12 chat-tel" *ngIf="currentScreenSize != 'XSmall'">
                <mat-card class="card-chat bg-light" >
                    <app-mensajes></app-mensajes>
                </mat-card>
            </div>
            <div class="col-lg-9 col-sm-12 chat-tel" *ngIf="currentScreenSize == 'XSmall' && openMessag">
                <mat-card class="card-chat bg-light" >
                    <app-mensajes></app-mensajes>
                </mat-card>
            </div>
        </div>
    </div>
</section>
<div class="" *ngIf="modalSwitch == true">
    <app-modal-c></app-modal-c>
</div>