<div class="container" *ngIf="mostrar==true">
    
        <mat-card class="lista-mensajes">
            <mat-card-header class="d-flex header-chat">
                <mat-card-title class="d-flex mt-2">
                    <mat-icon>account_circle</mat-icon>
                    <h3>{{secondnombreUsuario}}</h3>
                </mat-card-title>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="Eliminar()">
                      <mat-icon>delete_forever</mat-icon>
                      <span>Eliminar</span>
                    </button>
                  </mat-menu>                 
            </mat-card-header>       
            <mat-divider inset></mat-divider> 
            <mat-card-content>
                <div class="message-container" #listaMensajes>
                    <div *ngFor="let m of Mensajes" [ngClass]="{'messageRight': m.usuariosId == usuario.usuariosId, 'messageLeft': m.usuariosId != usuario.usuariosId}">
                        <mat-card class="card-message">
                            <mat-card-header class="d-flex header-chat">
                                <mat-card-title class="d-flex mt-2">
                                    <mat-icon>account_circle</mat-icon>
                                    <h4>{{m.nombreUsuario}}</h4>
                                </mat-card-title>
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                  </button>
                                  <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="Responder()">
                                      <mat-icon>reply_all</mat-icon>
                                      <span>Responder</span>
                                    </button>
                                    <button mat-menu-item (click)="Borrar(m.mensajesId)" *ngIf="m.usuariosId == usuario.usuariosId">
                                      <mat-icon>delete_sweep</mat-icon>
                                      <span>Eliminar</span>
                                    </button>
                                  </mat-menu>
                            </mat-card-header>                            
                            <mat-card-content>
                                <p>{{m.descripcion}}</p>
                                <h5 *ngIf="m.shortime == true">{{m.fecha | date: 'shortTime'}}</h5>
                                <h5 *ngIf="m.shortime == false">{{m.fecha | date: 'mediumDate'}}</h5> 
                            </mat-card-content>
                        </mat-card>
                    </div>       
                </div>   
            </mat-card-content>
        </mat-card>
    
    <form [formGroup]="mensajeForm" (ngSubmit)="enviarMensaje()">
        <div class="mb-3 textComentario">    
            <textarea class="form-control" formControlName="Descripcion" rows="1" placeholder="Escriba un Mensaje..."></textarea>
            <button class="btn-send" type="submit" [disabled]="mensajeForm.invalid">
                <span class="material-icons">
                    send
                    </span>
            </button>
        </div>
    </form>
</div>