.textComentario textarea{
    box-shadow: 2px 2px 5px #999;
    max-width: 100% !important; 
}
.btn-send {
    position: absolute;
    z-index: 100;
    right: 10px;
    top: 5px;
    background: none;
    border: none;
    color: grey;
    cursor: pointer;
    transition: color .6s;
}
.btn-send:hover {
    color: cornflowerblue;
}
.textComentario{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    position: relative;
    box-shadow: 2px 2px 5px #999;
}
.message-container{
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.lista-mensajes{
    min-height: 72vh;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 5px #999;
    border-radius: 15px;
}
.messageRight{
    display: flex;
    width: 100%;
    justify-content: right;
}
.messageLeft{    
    display: flex;
    width: 100%;
    justify-content: left;
}
.card-message{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
    max-width: 55%;
    min-width: 55%;
    box-shadow: 2px 2px 5px #999;
    border-radius: 15px;
}
.header-chat{
    justify-content: space-between;
}