<div class="col-lg-12 bg-light contenedor-listado">
    <br>
    <div class="d-flex busqueda">
        <input type="search" class="form-control" placeholder="Buscar un chat...">
        <button class="btn btn-primary"><mat-icon>search </mat-icon></button>
    </div>
    <br>
    <div class="container">
        <div class="chats-scrollbar">
            <div class="col-lg-12 contenedor-mensajes" *ngFor="let c of chats">
                <button class="btn-listado" (click)="openMensajes(c.chatsId, c.nombreUsuario)">
                    <span>
                        <mat-card class="card-chat ">
                            <mat-card-content>
                                <div class="d-flex content-chat">
                                    <div class="d-flex">
                                        <mat-icon>account_circle</mat-icon>
                                        <h4>{{c.nombreUsuario}}</h4>  
                                    </div>
                                    <h5 *ngIf="c.shortime == true" class="fecha-head mt-1">{{c.lastFecha | date:'shortTime':'-12:00':'es-SV'}}</h5>
                                    <h5 *ngIf="c.shortime == false" class="fecha-head mt-1">{{c.lastFecha | date:'mediumDate':'-12:00'}}</h5>
                                </div>
                                <div class="d-flex content-chat">
                                    <div class="d-flex">
                                        <p *ngIf="c.lastusuarioId == usuario.usuariosId">&#10004;</p> &nbsp;<p>{{c.mensaje | slice:0:20}}{{c.mensaje.length > 20 ? '...': ''}}</p>                                        
                                    </div>                                    
                                    <span *ngIf="c.noLeidos > 0" matBadgePosition="before" matBadge="{{c.noLeidos}}" matBadgeOverlap="false" matBadgeColor="warn"></span>
                                    <!-- <p *ngIf="c.noLeidos > 0"><strong>{{c.noLeidos}}</strong></p> -->
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </span>
                </button>
            </div>
        </div>
    </div>        
</div>