<div class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
    <form [formGroup]="publicForm" (ngSubmit)="ingresar()">
        <div class="modal-header">
            <h3 class="modal-title">Nueva Publicación</h3>
            <button (click)="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>          
          <div class="modal-body">
            <div class="d-flex">
              <mat-icon>account_circle</mat-icon>
              <h3>{{usuario.nombreUsuario}}</h3>
            </div>
            <div class="mb-3 textComentario">
              <textarea class="form-control" rows="4" formControlName="Descripcion" placeholder="¿Que estas pensando {{usuario.nombreUsuario}}?"></textarea>
            </div>   
            <hr>
            <button class="w-100" type="submit" mat-button [disabled]="publicForm.invalid"><mat-icon>note_add</mat-icon>Publicar</button>         
          </div>
    </form>      
    </div>
  </div>
</div>