.card-publicaciones{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 2px 2px 5px #999;
    border-radius: 15px;
}
.container-buttons{
    display: flex;
    justify-content: space-between;
}
.container-header{
    display: flex;
    justify-content: space-between;
}
.header-publicaction{
    justify-content: space-between;
}
.spiner{
    margin: 0 auto;
    color: white;
}

.like{
    margin-top: 7px;
}
.like-icon {
    opacity: 0.5;
}
.like-icon :active {
    transform: scale(1.3);
    /* color:#3f51b5; */
}

.like-icon__active {
    opacity: 1;
}
.like-icon__active :active {
    transform: scale(1.3);
}