<div class="container">
    <div class="row">
        <div class="">
            <mat-card *ngFor="let c of comentarios; let i = index" class="card-comentarios bg-light">
                <mat-card-content>
                    <div class="d-flex header-comment">
                        <mat-card-title class="d-flex mt-2">
                            <mat-icon>account_circle</mat-icon>
                            <h3>{{c.nombreUsuario}}</h3>                        
                        </mat-card-title>
                        <button *ngIf="c.usuariosId == usuario.usuariosId" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openModal(c)">
                                <mat-icon>edit_note</mat-icon>
                                <span>Editar</span>
                            </button>
                        <button mat-menu-item (click)="Eliminar(c.comentariosId)">
                            <mat-icon>delete_forever</mat-icon>
                            <span>Eliminar</span>
                        </button>
                        </mat-menu>
                    </div>
                    <p>{{c.descripcion}}</p>
                    <mat-divider inset></mat-divider>  
                    <div class="container-buttons">
                        <button mat-button color="primary" (click)="addLike(c.comentariosId, i)">{{c.numLikes}} | <mat-icon>thumb_up</mat-icon> Me gusta</button>
                        <button mat-button color="primary" (click)="openRespuestas(i, c, c.activo)"><mat-icon>reply</mat-icon> Responder</button>
                        <button mat-button disabled *ngIf="c.shortime == true">{{c.fecha | date:'shortTime' : '-800'}}</button>     
                        <button mat-button disabled *ngIf="c.shortime == false">{{c.fecha | date:'mediumDate' : '-800'}}</button>          
                    </div>   
                    <mat-divider inset></mat-divider>
                </mat-card-content>
                <mat-card-actions *ngIf="c.activo == true">
                    <app-respuestas [comentariosId]="comentariosId" [usuarioComentarioId]="usuarioComentarioId"></app-respuestas>
                </mat-card-actions>
            </mat-card>
        </div>        
        <form [formGroup]="commentForm" (ngSubmit)="enviarComentario()">
            <div class="mb-3 textComentario">    
                <textarea class="form-control" formControlName="Descripcion" rows="1" placeholder="Escriba un Comentario..."></textarea>
                <button class="btn-send" type="submit" [disabled]="commentForm.invalid">
                    <span class="material-icons">
                        send
                        </span>
                </button>
            </div>
        </form>    
    </div>
</div>
<div *ngIf="modalSwitch == true">
    <app-comentarios-edit [comment]="comment"></app-comentarios-edit>
</div>