.modal{
    display: inline;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0,0,0,0.5);
}
.textComentario{
    display: flex;
    width: 100%;
    position: relative;
    box-shadow: 2px 2px 5px #999;
}
.textComentario textarea{
    box-shadow: 2px 2px 5px #999;
    max-width: 100% !important; 
}