.content-user{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.ancho{
    width: 100%;
}
.card-usuario{
    max-width: 520px;
    border-radius: 15px;
}
.header-tittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-user{
    border-radius: 50px;
    width: 40%;
}