<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <mat-card class="bg-light card-titulo">
                    <mat-card-header>
                        <div class="d-grid gap-2 col-9 mx-auto">
                            <button mat-raised-button (click)="openModal()">
                                <mat-icon>receipt_long</mat-icon> ¿Qué hay de nuevo {{usuario.nombreUsuario}}?
                            </button> 
                        </div>                        
                    </mat-card-header>
                </mat-card>   
                <app-publicaciones></app-publicaciones>
            </div>
            <div class="col-lg-4 bloq-notificacion">
                <app-notificaciones></app-notificaciones>
            </div>
        </div>
    </div>
</section>
<div *ngIf="modalSwitch == true">
    <app-modal-p></app-modal-p>
</div>
