<div class="container container-notifications">
    <div class=" notificacion-items">
    
        <mat-card class="example-card">
          <mat-card-title><h3>NOTIFICACIONES</h3></mat-card-title>
            <hr/>
          <mat-card-content>
           
          </mat-card-content>
          <!--Ejemplo de notifiaciones -->
          <div class="notificacion-scroll">
            <div class="d-flex content-notifiacion" *ngFor="let n of notificaciones">
              <p>{{n.descripcion}}</p><p>{{n.fecha | date: 'shortTime'}}</p>
              <hr/>
            </div>            
          </div>
        </mat-card>
    </div>    
</div>

  