<div class="container container-notifications">
    <div class=" notificacion-items">
    
        <mat-card class="example-card">
          <mat-card-title><h3>NOTIFICACIONES</h3></mat-card-title>
            <hr/>
          <mat-card-content>
           
          </mat-card-content>
          <!--Ejemplo de notifiaciones -->
          <div class="notificacion-scroll">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ab error optio numquam. Possimus iusto dolores labore repellat est, accusamus eos dolorem quasi ipsa incidunt amet, deleniti facere tempora perferendis!</p>
            <hr/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ab error optio numquam. Possimus iusto dolores labore repellat est, accusamus eos dolorem quasi ipsa incidunt amet, deleniti facere tempora perferendis!</p>
            <hr/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ab error optio numquam. Possimus iusto dolores labore repellat est, accusamus eos dolorem quasi ipsa incidunt amet, deleniti facere tempora perferendis!</p>
            <hr/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ab error optio numquam. Possimus iusto dolores labore repellat est, accusamus eos dolorem quasi ipsa incidunt amet, deleniti facere tempora perferendis!</p>
            <hr/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ab error optio numquam. Possimus iusto dolores labore repellat est, accusamus eos dolorem quasi ipsa incidunt amet, deleniti facere tempora perferendis!</p>
            <hr/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ab error optio numquam. Possimus iusto dolores labore repellat est, accusamus eos dolorem quasi ipsa incidunt amet, deleniti facere tempora perferendis!</p>
            <hr/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ab error optio numquam. Possimus iusto dolores labore repellat est, accusamus eos dolorem quasi ipsa incidunt amet, deleniti facere tempora perferendis!</p>
          </div>
          
          <hr/>
        </mat-card>
    </div>    
</div>

  