.container-notifications{
    position: relative;

}

.container-notifications .notificacion-items{
    position: absolute;
    width: 100%;
    
}
.container-notifications .notificacion-items .example-card{
    position: fixed;
    overflow: scroll;
    max-height:450px;
    width: 26%;
   
}

.notificacion-scroll{
    position: relative;
   
}
@media (max-width: 990px){
   
    .container-notifications .notificacion-items{
        position: relative;
  
    }
    .container-notifications .notificacion-items .example-card{
        position: relative;
      
       width: 100%;
        
    }
}
.content-notifiacion p{
    margin: 0px;
    padding: 0px;
}
.content-notifiacion{
    flex-direction: column;
    width: 100%;
    padding: 7px;
    padding-left: 17px;
    border-bottom: solid grey 1px;
    margin-bottom: 10px;
}

.content-notifiacion:hover {
    transform: scale(1.02);
    background-color: #eaeaea;
}
