 .example-card{
    width: 419px;
    max-height:700px;
    overflow-y: auto;
    border-radius: 10px;
    background-color: var(--color-primario);
}
h3 {
    color: #eaeaea;
}
 .notificacion-scroll{
    position: relative;
}

.content-notifiacion{
    align-items: center;
    min-height: 70px;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0px;
    background-color: var(--color-secundario);
    border-radius: 11px;
    cursor: pointer;
}

.content-notifiacion:hover {
    transform: scale(1.02);
    background-color: #eaeaea;
}

.descripcion-notificacion {
    width: 268px;
}

.fecha {
    margin-top: -9px;
    margin-bottom: 0px;
}
.container-img__perfil {
    display: flex;
    min-width: 39px;
    min-height: 39px;
    max-width: 39px;
    max-height: 39px;
    overflow: hidden;
    border-radius: 100%;
    border: solid 1px gray;
    min-width: 24px;
    margin: 0px 16px;
  }
  
  .container-img__perfil img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
  }
  

@media (max-width: 990px){
   
    .container-notifications .notificacion-items{
        position: relative;
    }
    .container-notifications .notificacion-items .example-card{
        position: relative;
      
       width: 100%;
        
    }
}