/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-primario : rgb(2, 48, 71);
    --color-primario-opacity :rgba(2, 48, 71, 0.815);
    --color-secundario:rgb(33, 158, 188);
    --color-terciario:rgb(142, 202, 230);
    --color-cuarto:rgb(255, 183, 3);
    --color-neutro:#ffff;
}

body { 
    background: #f5f5f5;  /* fallback for old browsers */
    
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}
/* 
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
    width: 50%;
    height: 50%;
}

 .cdk-global-overlay-wrapper {
    top: -120px;
    left: 170px;
} */